
html {
    --content-width: min(1000px, 100% - 50px);
    
    --background-normal: #fff;
    --background-dim: lightgray;
    --background-dimmer: gray;
    --background-highlight: hsl(60, 100%, 50%);
    --text-color-normal: #000;
    --text-color-light: #333;
}

@media (prefers-color-scheme: dark) {
    html {
        --background-normal: hsl(213, 27%, 8%);
        --background-dim: hsl(211, 36%, 15%);
        --background-dimmer: hsl(212, 32%, 24%);
        --background-highlight: hsl(90, 34%, 23%);
        --text-color-normal: hsl(213, 16%, 86%);
        --text-color-light: hsl(210, 11%, 55%);
        --text-color-richer: hsl(246, 76%, 84%);
        --text-color-highlight: hsl(25, 61%, 61%);
    }
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-text-size-adjust: 200%;
    text-size-adjust: 200%;
    margin: 0;
    background-color: var(--background-normal);
    color: var(--text-color-normal);
}

.flex-col-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

:is(h1, h2, h3, h4, h5, h6) {
    color: var(--text-color-richer);
}

a {
    color: var(--text-color-highlight);
}

div.header {
    top: 0;
    position: sticky;
    background-color: rgb(33, 33, 63);
}

nav {
    margin: 0 auto;
    width: var(--content-width);
    font-size: 0;
}

nav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.7em 1em;
    text-decoration: none;
    font-size: 17px;
    height: 100%;
    box-sizing: border-box;
}

nav a:hover {
    background-color: rgb(53, 53, 94);
}

nav a.active {
    background-color: rgb(80, 80, 134);
    box-shadow: 0px -2pt inset white;
}

.content {
    display: block;
    width: var(--content-width);
    height: 100%;
    margin: 0 auto;
    padding-bottom: 20pt;
}

.no-padding {
    padding: 0pt;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}
thead td {
    background-color: var(--background-dimmer);
    /* color: white; */
    font-weight: bold;
    border: 2px solid var(--text-color-normal);
}
tr:nth-child(even) {
    background-color: var(--background-dim);
}
/* Cells that span multiple rows should not be subject to alternating colors: */
td[rowspan] {
    background-color: var(--background-normal);
}
td {
    padding: 0.5em 1em;
    border: 1px solid var(--text-color-light);
}

.highlight {
    background-color: var(--background-highlight);
}
.error {
    color: red;
}