body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-text-size-adjust: 200%;
    text-size-adjust: 200%;
}

div.content {
    width: min(1000px, 100% - 50px);
    margin: 0 auto;
}