
html {
    --content-width: min(1000px, 100% - 50px);
    
    --background-normal: #fff;
    --background-dim: lightgray;
    --background-dimmer: gray;
    --background-highlight: hsl(60, 100%, 50%);
    --text-color-normal: #000;
    --text-color-light: #333;
}

@media (prefers-color-scheme: dark) {
    html {
        --background-normal: hsl(212, 28%, 12%);
        --background-dim: hsl(213, 33%, 19%);
        --background-dimmer: hsl(212, 29%, 27%);
        --background-highlight: hsl(90, 34%, 23%);
        --text-color-normal: hsl(210, 15%, 76%);
        --text-color-light: hsl(210, 15%, 35%);
        --text-color-richer: hsl(210, 50%, 72%);
        --text-color-highlight: hsl(25, 61%, 61%);
    }
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-text-size-adjust: 200%;
    text-size-adjust: 200%;
    margin: 0;
    background-color: var(--background-normal);
    color: var(--text-color-normal);
}

:is(h1, h2, h3, h4, h5, h6) {
    color: var(--text-color-richer);
}

a {
    color: var(--text-color-highlight);
}

div.header {
    top: 0;
    position: sticky;
    overflow: hidden;
    background-color: #335;
}

nav {
    margin: 0 auto;
    width: var(--content-width);
    font-size: 0;
}

nav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #446;
}

nav a.active {
    background-color: #557;
}

div.content {
    width: var(--content-width);
    margin: 0 auto;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}
thead td {
    background-color: var(--background-dimmer);
    /* color: white; */
    font-weight: bold;
    border: 2px solid var(--text-color-normal);
}
tr:nth-child(even) {
    background-color: var(--background-dim);
}
td {
    padding: 1px 7px;
    border: 1px solid var(--text-color-light);
}

.highlight {
    background-color: var(--background-highlight);
}
.error {
    color: red;
}